<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <div class="field">
        <label>Username</label>
        <input required [ngClass]="!username.valid && username.dirty ? 'is-danger' : ''" class="input is-small" type="text" formControlName="username">
        <p *ngIf="username.errors?.required && username.dirty" class="help is-danger">Username is required</p>
    </div>

    <div class="field">
        <label>Password</label>
        <input required [ngClass]="!password.valid && password.dirty ? 'is-danger' : ''" class="input is-small" type="password" formControlName="password">
        <p *ngIf="password.errors?.required && password.dirty" class="help is-danger">Password is required</p>
    </div>

    <div class="field">
        <button class="input button is-small is-primary" type="submit" [disabled]="!loginForm.valid">Submit</button>
    </div>

</form>
