<form [formGroup]="userProfileEditorForm" (ngSubmit)="onSubmit()">

    <div class="field">
        <label class="label is-small">Username</label>
        <div class="control">
            <input class="input is-small" [ngClass]="!username.valid && username.dirty ? 'is-danger' : ''" type="text" formControlName="username">
            <p *ngIf="username.errors?.required && username.dirty" class="help is-danger">Username is required</p>
        </div>
    </div>

    <div class="field">
        <label class="label is-small">First Name</label>
        <div class="control">
            <input class="input is-small" type="text" formControlName="first_name">
        </div>
    </div>

    <div class="field">
        <label class="label is-small">Last Name</label>
        <div class="control">
            <input class="input is-small" type="text" formControlName="last_name">
        </div>
    </div>

    <div class="field">
        <label class="label is-small">Address</label>
        <div class="control">
            <input class="input is-small" type="text" formControlName="address">
        </div>
    </div>

    <div class="field">
        <label class="label is-small">ZIP</label>
        <div class="control">
            <input class="input is-small" type="number" formControlName="zip">
        </div>
    </div>

    <div class="field">
        <label class="label is-small">City</label>
        <div class="control">
            <input class="input is-small" type="text" formControlName="city">
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control is-expanded">
            <label class="label is-small">Password</label>
            <input class="input is-small" [ngClass]="!password.valid && password.dirty ? 'is-danger' : ''" type="password" formControlName="password">
            <p *ngIf="password.errors?.required && password.dirty" class="help is-danger">Password is required</p>
            <p *ngIf="password.errors?.minlength && password.dirty" class="help is-danger">Min length is 3</p>
        </div>
        <div class="control is-expanded">
            <label class="label is-small">Confirm Password</label>
            <input class="input is-small" [ngClass]="!password_confirmation.valid && password_confirmation.dirty ? 'is-danger' : ''" type="password" formControlName="password_confirmation">
            <p *ngIf="password_confirmation.errors?.required && password_confirmation.dirty" class="help is-danger">Password confirmation is required</p>
            <p *ngIf="password_confirmation.errors?.minlength && password_confirmation.dirty" class="help is-danger">Min length is 3</p>
            <p *ngIf="password_confirmation.errors?.confirmedValidator && password_confirmation.dirty" class="help is-danger">Passwords do not match</p>

        </div>
    </div>

    <div class="field">
        <button class="input button is-small is-primary" type="submit" [disabled]="!userProfileEditorForm.valid">Submit</button>
    </div>

</form>
