<form [formGroup]="userProfileEditorForm" (ngSubmit)="onSubmit()">

    <div class="field">
        <label class="label is-small">Old Password</label>
        <div class="control">
            <input class="input is-small" type="password" formControlName="password_old">
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control is-expanded">
            <label class="label is-small">New Password</label>
            <input class="input is-small" type="password" formControlName="password_new">
        </div>
        <div class="control is-expanded">
            <label class="label is-small">Confirm New Password</label>
            <input class="input is-small" type="password" formControlName="password_new_confirmation">
        </div>
    </div>

    <div class="field">
        <button class="input button is-small is-primary" type="submit" [disabled]="!userProfileEditorForm.valid">Submit</button>
    </div>

</form>
