<form [formGroup]="userProfileEditorForm" (ngSubmit)="onSubmit()">

    <div class="field">
        <label class="label is-small">Old Password</label>
        <div class="control">
            <input class="input is-small" [ngClass]="!password_old.valid && password_old.dirty ? 'is-danger' : ''" type="password" formControlName="password_old">
            <p *ngIf="password_old.errors?.required && password_old.dirty" class="help is-danger">Old password is required</p>
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control is-expanded">
            <label class="label is-small">New Password</label>
            <input class="input is-small" [ngClass]="!password_new.valid && password_new.dirty ? 'is-danger' : ''" type="password" formControlName="password_new">
            <p *ngIf="password_new.errors?.required && password_new.dirty" class="help is-danger">New password is required</p>
            <p *ngIf="password_new.errors?.minlength && password_new.dirty" class="help is-danger">Min length is 3</p>
        </div>

        <div class="control is-expanded">
            <label class="label is-small">Confirm New Password</label>
            <input class="input is-small" [ngClass]="!password_new_confirmation.valid && password_new_confirmation.dirty ? 'is-danger' : ''" type="password" formControlName="password_new_confirmation">
            <p *ngIf="password_new_confirmation.errors?.required && password_new_confirmation.dirty" class="help is-danger">Password confirmation is required</p>
            <p *ngIf="password_new_confirmation.errors?.minlength && password_new_confirmation.dirty" class="help is-danger">Min length is 3</p>
            <p *ngIf="password_new_confirmation.errors?.confirmedValidator && password_new_confirmation.dirty" class="help is-danger">Passwords do not match</p>
        </div>
    </div>

    <div class="field">
        <button class="input button is-small is-primary" type="submit" [disabled]="!userProfileEditorForm.valid">Submit</button>
    </div>

</form>
