<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
</head>
<body>

  <div class="container">
    <div class="columns">
      <header class="column">
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-menu">
            <div class="navbar-start">
              <a [routerLink]="['/']" routerLinkActive="is-active" class="navbar-item">
                Home
              </a>

              <a *ngIf="!isLoggedIn" [routerLink]="['/login']" routerLinkActive="is-active" class="navbar-item">
                Login
              </a>

              <a *ngIf="!isLoggedIn" [routerLink]="['/register']" routerLinkActive="is-active" class="navbar-item">
                Register
              </a>
            </div>

            <div *ngIf="isLoggedIn" class="navbar-end">
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  <a [routerLink]="['/users/me']" routerLinkActive="is-active">Account</a>
                </a>

                <div class="navbar-dropdown">
                  <a class="navbar-item">
                    <a (click)="onLogout()">Log out</a>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </header>
    </div>

    <main class="columns is-8 is-centered">

        <div class="column is-6">
          <router-outlet></router-outlet>
          <hr>
          <a (click)="back()" class="button is-secondary my-2 is-small">back</a>
        </div>
    </main>
  </div>
</body>
</html>
