<p class="subtitle">Your Profile, <small><b>{{ user.username }}</b></small></p>

<div class="columns has-background-light">
    <div class="column">
        <label class="label">First Name:</label> {{ user.first_name }}
    </div>

    <div class="column">
        <label class="label">Last Name:</label> {{ user.last_name }}
    </div>
</div>

<div class="columns has-background-light">
    <div class="column">
        <label class="label">Address:</label>{{ user.address }}
    </div>
</div>

<div class="columns has-background-light">

    <div class="column">
        <label class="label">ZIP:</label> {{ user.zip }}
    </div>

    <div class="column">
        <label class="label">City:</label> {{ user.city }}
    </div>
</div>



<a class="tag is-info mr-2" [routerLink]="['/users/edit']">Edit</a>
<a class="tag is-info mr-2" [routerLink]="['/users/change-password']">Change Password</a>
<a class="tag is-success mr-2" [routerLink]="['/users/create']">Add New</a>
